*{margin: 0;padding: 0;}
.body{width: 100%;height: auto;background-color: #eee;}
.upper-div{width: 60%;overflow: hidden;;margin: auto;margin-top: 6%;border: 2px solid rgba(85, 82, 82, 0.9);}
.lower-div{width: 60%;height: 300px;margin: auto;margin-top: 6%;border: 2px solid rgba(85, 82, 82, 0.9);margin-bottom: 6%;}
.upper-div .left,.upper-div .right{width: 50%;float: left;overflow: hidden;margin-bottom: 6%;}
.upper-div img{display:block;width: 85%;height:280px;margin: auto;margin-top: 9%;}
.upper-div .box{width: 90%;margin: auto;border: 1px solid black;overflow: hidden;margin-top: 9%;text-align: center;}
.upper-div .box p{width: 92%;margin: auto;text-align: left;color: black;margin-top: 2%;}
.upper-div .box button{margin-bottom: 16%;width: 140px;height: 50px;;border: 0;background-color: cornflowerblue;margin-top: 4%;}
.upper-div h1{color: cornflowerblue;margin-top: 2%;}
.show-par{display:  none;}